/*Override default refinery application CSS below.
 *Formatting applies to all frontend. */
@import url('refinery/application.css');
body {
  background: #dddddd;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px; }

#body_content_left, #body_content_right {
  float: left;
  background: white;
  color: #333333;
  padding: 20px; }

#body_content_left {
  width: 55%; }

#body_content_right {
  width: 35%;
  border-left: 1px dotted black; }

#menu ul {
  list-style: none;
  padding: 0px; }
  #menu ul li {
    float: left;
    margin-right: 10px; }
    #menu ul li a {
      display: block;
      padding: 5px 10px;
      text-decoration: none; }
    #menu ul li.selected a, #menu ul li a:hover {
      background: #cccccc; }

/* Alertes */
#alertes {
  padding-left: 10px; }
  #alertes p {
    border-bottom: 1px dotted black;
    padding-bottom: 5px; }
    #alertes p a {
      display: block; }
      #alertes p a.inline {
        display: inline; }

p#date {
  padding: 0;
  margin: 0;
  font-weight: bold; }

/* Footer /* */
footer {
  width: 100%;
  background: black;
  margin: 0;
  padding: 18px;
  height: 54px;
  color: white; }
