/*Override default refinery application CSS below.
 *Formatting applies to all frontend. */
@import url('refinery/application.css');
/*http://colorschemedesigner.com/#2s42qryLpA-M9 */
/* Primary Color */
/* Secondary Color A */
/* Secondary Color B */
/* Complementary Color */
body {
  background: #dddddd;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px; }

#body_content_left, #body_content_right {
  float: left;
  background: white;
  color: #333333;
  padding: 20px; }

#body_content_left {
  width: 55%; }

#body_content_right {
  width: 35%;
  border-left: 1px dotted black; }

#menu ul {
  list-style: none;
  padding: 0px;
  margin: 0; }
  #menu ul li {
    float: left;
    margin-right: 10px; }
    #menu ul li a {
      display: block;
      padding: 5px 10px;
      text-decoration: none; }
    #menu ul li.selected a, #menu ul li a:hover {
      background: #cccccc; }

/* Home */
.wrap_last_stuff, .wrap_last_news {
  width: 950px;
  margin: 0 20px 0 20px;
  overflow: hidden; }

.wrap_last_news {
  margin-bottom: 10px; }

.news_item_truncated {
  border-bottom: 1px dotted black; }

.wrap_last_stuff {
  background: #eeeeee; }
  .wrap_last_stuff .column {
    margin-right: 10px;
    float: left;
    width: 230px; }
    .wrap_last_stuff .column h3 {
      color: white;
      text-shadow: 0 1px 0 black;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0; }
      .wrap_last_stuff .column h3 a {
        text-decoration: none;
        color: inherit; }
  .wrap_last_stuff .column.last {
    margin-right: 0; }

.liste h2 {
  margin-left: -10px;
  padding: 10px;
  color: white;
  text-shadow: 0 1px 0 black; }
  .liste h2 a {
    text-decoration: none;
    color: inherit; }

.documents h2, .documents h3 {
  background: #588f08; }
.documents span.label {
  color: #588f08; }

.events h2, .events h3 {
  background: #09557a; }
.events span.label {
  color: #09557a; }

.enquetes h2, .enquetes h3 {
  background: #955408; }
.enquetes span.label {
  color: #955408; }

.alertes h2, .alertes h3 {
  background: #890843; }
.alertes span.label {
  color: #890843; }

.liste {
  padding-left: 10px; }
  .liste p {
    border-bottom: 1px dotted black;
    padding-bottom: 5px; }
    .liste p a {
      display: block; }
      .liste p a.inline {
        display: inline; }
    .liste p:last-child {
      border-bottom: none; }

p#date {
  padding: 0;
  margin: 0;
  font-weight: bold; }

/* Universe selector */
#universe_selector_wrap {
  float: right; }
  #universe_selector_wrap span {
    float: left;
    padding: 5px 10px; }
  #universe_selector_wrap nav#menu {
    float: right; }

/* Footer /* */
footer {
  width: 100%;
  background: black;
  margin: 0;
  padding: 18px;
  height: 54px;
  color: white; }
