/*Override default refinery application CSS below.
 *Formatting applies to all frontend. */
@import url('refinery/application.css');
/*http://colorschemedesigner.com/#2s42qryLpA-M9 */
/* Primary Color */
/* Secondary Color A */
/* Secondary Color B */
/* Complementary Color */
body {
  background: #dddddd;
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }

a {
  text-decoration: none;
  background: inherit;
  color: #0000ee; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #0000ee; }

#body_content_left, #body_content_right {
  float: left;
  background: white;
  color: #333333;
  padding: 20px; }

#body_content_left {
  width: 600px; }

#body_content_right {
  width: 319px;
  border-left: 1px dotted black; }

#menu_wrapper {
  clear: both; }

#menu ul {
  list-style: none;
  padding: 0px;
  margin: 0; }
  #menu ul li {
    float: left;
    margin-right: 2px; }
    #menu ul li a {
      color: white;
      text-shadow: 0 1px 0 black;
      background: #777777;
      display: block;
      padding: 5px 10px;
      font-weight: bold;
      text-decoration: none;
      border-radius-top: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-left-radius: 5px 5px;
      border-top-right-radius: 5px 5px; }
    #menu ul li.selected a, #menu ul li a:hover {
      background: white;
      color: black;
      text-shadow: 0 1px 0 white; }
    #menu ul li:last-child {
      margin-right: 0px; }

#logo {
  float: left;
  text-shadow: 1px 2px 1px white; }
  #logo a {
    text-decoration: none;
    color: black; }

#search {
  float: right;
  margin: 0.67em 0; }

/* Home */
.wrap_last_stuff, .wrap_blog {
  width: 950px;
  margin: 0 20px 0 20px;
  overflow: hidden; }

.wrap_blog {
  margin-bottom: 10px; }
  .wrap_blog h2, .wrap_blog h3 {
    background: white;
    color: black; }
  .wrap_blog article.blog_post {
    border-bottom: 1px dotted black; }

.news_item_truncated {
  border-bottom: 1px dotted black; }
  .news_item_truncated a {
    color: #0000ee; }
    .news_item_truncated a:hover {
      color: #0000ee;
      text-decoration: underline; }
    .news_item_truncated a:visited {
      color: #0000ee; }

.wrap_last_stuff {
  background: #eeeeee; }
  .wrap_last_stuff .column {
    margin-right: 10px;
    float: left;
    width: 230px; }
    .wrap_last_stuff .column h3 {
      color: white;
      text-shadow: 0 1px 0 black;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0; }
      .wrap_last_stuff .column h3 a {
        text-decoration: none;
        color: inherit; }
  .wrap_last_stuff .column.last {
    margin-right: 0; }

.column p a, .liste p a {
  color: black; }
  .column p a:hover, .liste p a:hover {
    color: white;
    text-decoration: none; }

.news h2, .news h3 {
  background: #222222; }
.news p a:hover {
  background: #222222; }
.news span.label {
  color: #222222; }

.documents h2, .documents h3 {
  background: #588f08; }
.documents p a:hover {
  background: #588f08; }
.documents span.label {
  color: #588f08; }

.events h2, .events h3 {
  background: #09557a; }
.events p a:hover {
  background: #09557a; }
.events span.label {
  color: #09557a; }

.enquetes h2, .enquetes h3 {
  background: #955408; }
.enquetes p a:hover {
  background: #955408; }
.enquetes span.label {
  color: #955408; }

.alertes h2, .alertes h3 {
  background: #890843; }
.alertes p a:hover {
  background: #890843; }
.alertes span.label {
  color: #890843; }

.liste {
  padding-left: 10px; }

.liste h2, .recent h2 {
  margin-left: -10px;
  padding: 10px;
  color: white;
  text-shadow: 0 1px 0 black; }
  .liste h2 a, .recent h2 a {
    text-decoration: none;
    color: inherit; }
.liste p, .recent p {
  border-bottom: 1px dotted black;
  padding-bottom: 5px; }
  .liste p a, .recent p a {
    display: block; }
    .liste p a.inline, .recent p a.inline {
      display: inline; }
  .liste p:last-child, .recent p:last-child {
    border-bottom: none; }

p#date {
  padding: 0;
  margin: 0;
  font-weight: bold; }

/* Universe selector */
#universe_selector_wrap {
  float: right; }
  #universe_selector_wrap span {
    float: left;
    padding: 5px 10px; }
  #universe_selector_wrap nav#menu {
    float: right; }

/* Footer /* */
footer.page {
  width: 100%;
  background: black;
  margin: 0;
  padding: 18px;
  height: 54px;
  color: white; }

/* Blog posts */
.blog_post details {
  font-style: italic;
  font-size: smaller; }
.blog_post time.posted_at {
  display: inline; }

#menu.alertes {
  overflow: auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background: black; }
  #menu.alertes ul li a {
    color: white;
    text-shadow: 0 1px 0 #333333;
    background: black;
    border-radius-top: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0; }
  #menu.alertes ul li.selected a, #menu.alertes ul li a:hover {
    background: white;
    color: black;
    text-shadow: 0 1px 0 white; }

.no_alertes {
  padding-top: 15px;
  clear: left; }
