  <% unless admin? %>
    <% content_for :stylesheets, stylesheet_link_tag('refinery/site_bar') unless !!local_assigns[:exclude_css] %>
    <%= yield(:stylesheets) unless local_assigns[:head] or local_assigns[:exclude_css] %>
  <% end %>
<div id='site_bar'>
  <div id='site_bar_content' class='clearfix'>
    <% if refinery_user? %>
      <div id='editor_switch'>
        <%= site_bar_switch_link -%>
      </div>
    <% end -%>
    <div id='site_bar_branding'>
      Bonjour, <%= current_user.username %>
      <%= link_to t('.log_out'), destroy_user_session_path, :id => 'logout' %>
    </div>
  </div>
</div>
