<div id="universe_selector_wrap">
  Choix de l'univers :
  <nav id="menu">
    <ul>
      <% %w(cap crpv ceip).each do |univers|%>
        <li class=<%= (params[:categorie] == univers) ? "selected" : "" %>><%= link_to univers.upcase, :categorie => univers %></li>
      <% end %>
      <li class=<%= params[:categorie] == {} ? "selected" : ""%>><%= link_to "Tous", "/#{params[:controller]}" %></li>
    </ul>
  </nav>
</div>
