<section id='body_content_left'>
  <%=raw @page[:body] %>
</section>
<section id='body_content_right'>
  <aside>
    <h2><%= link_to "Alertes", alertes_path %></h2>
    <%= render :partial => 'alertes/recent', :locals => { :alertes => Alerte.recent} %>
  </aside>
</section>
