<% content_for :body_content_left do %>
  <div class="liste documents">
    <% if @documents.any? %>
      <% @documents.each do |document| %>
        <p>
          <span class="label"><%= l(document.updated_at, :format => "%d %B %Y") %></span>
          <%= link_to document.titre, document_url(document) %>
        </p>
      <% end %>
    <% else %>
      Aucun document.
    <% end %>
  </div>
<% end %>

<%= render :partial => "/shared/content_page" %>
