<% content_for :body_content_left do %>
  <div class="liste alertes">
    <% if @alertes_annees.any? %>
      <% @alertes_annees.each do |annee, alertes| %>
        <h2><%= annee.strftime("%Y") %></h2>
        <% alertes.each do |alerte| %>
          <p>
            <span class="label"><%= l(alerte.date, :format => "%d %B") %></span>
            <%= link_to alerte.titre, alerte_url(alerte) %>
            <% Categorie.all -%>
            <% links_to_categories(alerte) %>
          </p>
        <% end %>
      <% end %>
    <% else %>
      Aucune alerte.
    <% end %>
  </div>
<% end %>

<%= render :partial => "/shared/content_page" %>
