<% content_for :body_content_left do %>
  <div id="alertes">
    <% @alertes_annees.each do |annee, alertes| %>
      <h3><%= annee.strftime("%Y") %></h3>
      <% alertes.each do |alerte| %>
        <p>
          <%= l(alerte.date) %>
          <%= link_to alerte.titre, alerte_url(alerte) %>
          <% links_to_categories(alerte) %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render :partial => "/shared/content_page" %>
